{{> header hide=hide disable_brand=disable_brand}}
<div class="container-fluid">
	<h1 class="mb-3">{{title}}</h1>
	
	{{#if error}}
		<div class="error">{{error}}</div>
	{{/if}}

	<form method="POST" action="/register" novalidate>
		<div class="form-floating w-25 mb-3">
			<input
				class="form-control"
				placeholder="First name goes here"
				id="firstName"
				name="firstName"
				value="{{form.firstName}}"
				required
			/>
			<label for="firstName">First Name</label>
		</div>
		<div class="form-floating w-25 mb-3">
			<input
				class="form-control"
				placeholder="Last name goes here"
				id="lastName"
				name="lastName"
				value="{{form.lastName}}"
				required
			/>
			<label for="lastName">Last Name</label>
		</div>
		<div class="form-floating w-25 mb-3">
			<input
				class="form-control"
				placeholder="User ID goes here"
				id="userId"
				name="userId"
				value="{{form.userId}}"
				required
			/>
			<label for="userId">User ID</label>
		</div>
		<div class="form-floating w-25 mb-3">
			<input
				class="form-control"
				placeholder="Password goes here"
				type="password"
				id="password"
				name="password"
				required
			/>
			<label for="password">Password</label>
		</div>
		<div class="form-floating w-25 mb-3">
			<input
				class="form-control"
				placeholder="Confirm Password goes here"
				type="password"
				id="confirmPassword"
				name="confirmPassword"
				required
			/>
			<label for="confirmPassword">Confirm Password</label>
		</div>
		<button type="submit" class="btn btn-primary">Create account</button>
	</form>
	<p>Already have an account? <a href="/login">Sign in</a></p>
</div>

