{{> header}}

<div class="container-fluid">

	{{> back-button route=(concat "/groups/" group._id) }}

	<h1>Add Member to {{group.groupName}}</h1>

	<p>{{group.groupDescription}}</p>

	{{#if error}}
		<p class="error">{{error}}</p>
	{{/if}}

	{{#if success}}
		<p class="success">{{success}}</p>
	{{/if}}

	<form method="POST" action="/groups/{{group._id}}/addMember" class="add-member-form">
		<div class="custom-card form-floating mb-3">
			<input
				class="form-control"
				placeholder="User ID goes here"
				id="user_id"
				name="user_id"
				required
			/>
			<label for="user_id">User ID</label>
		</div>
		<button type="submit" class="btn btn-primary">Add Member</button>
	</form>

</div>
{{> custom-card-script initial_width_num=3}}