<h1>Add Member to {{group.groupName}}</h1>
<p>{{group.groupDescription}}</p>

<form action="/groups/{{group._id}}/addMember" method="post" class="add-member-form">
  <div>
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" required>
  </div>

  <div>
    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" required>
  </div>

  <div>
    <label for="user_id">User ID:</label>
    <input type="text" id="user_id" name="user_id" required>
  </div>

  <button type="submit">Add Member</button>
</form>

<form action="/groups/{{group._id}}" method="get" style="margin-top: 10px;">
  <button type="submit">Back to Group</button>
</form>

{{#if error}}
  <p class="error">{{error}}</p>
{{/if}}

{{#if success}}
  <p class="success">{{success}}</p>
  
{{/if}}
