{{> header}}

<div class="container-fluid">

	<form action="/groups/{{group._id}}" method="get" {{!-- style="margin-top: 10px;" --}}>
		<button type="submit" class="btn btn-primary">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
			</svg>
		</button>
	</form>

    <h1 class="mb-3">Create Expense for <span style="font-weight: bold;">{{group.groupName}}</span></h1>

	{{#if error}}
		<div class="error-message">
			<p>{{error}}</p>
		</div>
	{{/if}}

    <form method="POST" action="/groups/{{groupId}}/expense/new" id="login-form">
        <div class="custom-card form-floating mb-3">
            <input
                class="form-control"
                placeholder="Name goes here"
                id="name"
                name="name"
                value="{{form.name}}"
                required
            />
            <label for="name">Name</label>
        </div>
        <div class="custom-card form-floating mb-3">
            <input
                class="form-control"
                placeholder="Cost goes here"
                type="number"
                min="0"
                step="0.01"
                id="cost"
                name="cost"
                value="{{form.cost}}"
                required
            />
            <label for="cost">Cost</label>
        </div>
        <div class="custom-card form-floating mb-3">
            <input
                class="form-control"
                placeholder="Deadline goes here"
                type="date"
                id="deadline"
                name="deadline"
                value="{{form.deadline}}"
                required
            />
            <label for="deadline">Deadline</label>
        </div>
        <p>Payee:</p>
        {{#each group.groupMembers}}
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="{{_id}}" id="payee-{{userId}}" name="payee[]" />
            <label class="form-check-label" for="{{userId}}">{{userId}}</label>
        </div>
        {{/each}}
        <p>Payers:</p>
        {{#each group.groupMembers}}
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="{{_id}}" id="payer-{{userId}}" name="payers[]" />
            <label class="form-check-label" for="{{userId}}">{{userId}}</label>
        </div>
        {{/each}}
        <button type="submit" class="btn btn-primary">Add Expense</button>
    </form>
</div>
{{> custom-card-script initial_width_num=3}}